/* Reset CSS*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}
html {
  background-color: #dde2ed;
}

body {
  width: 100%;
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  max-width: 30em;
  margin: auto;
  padding: 1em 1em;
  border-radius: 16px;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.3);
  /*  https://getcssscan.com/css-box-shadow-examples */
}

header,
form {
  display: flex;
  min-height: 5vh;
  justify-content: center;
  align-items: center;
  color: #00006c;
}

form {
  border: 1px solid #b6cdff;
}

form input,
form button {
  padding: 0.8em;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  min-height: 2vh;
  background: #dde2ed;
}

form input {
  width: 100%;
  background: #dde2ed;
  outline: none;
}

form button {
  cursor: pointer;
  color: #1976d2;
  border: none;
  font-size: 1rem;
}

.appContainer {
  display: block;
  padding-top: 1rem;
}

.todo {
  padding: 1rem;
  border-bottom: 1px solid #172a3c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #00006c;
  font-size: 1rem;
}

.todo li {
  flex: 1;
  list-style-type: none;
}

.todo i {
  pointer-events: none;
}

.checkButton,
.deleteButton,
.editButton,
.submitEdit,
.close {
  background-color: #dde2ed;
  color: #1976d2;
  padding: 0.2rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.checkedItem {
  text-decoration: line-through;
  opacity: 0.3;
}

.checkedItem:hover {
  opacity: 1;
  animation-duration: 0.5s;
  animation-name: fade-in;
  animation-timing-function:ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
form button:hover {
  color: #6498e6;
}
.checkButton:hover {
  color: #22ff00;
}

.deleteButton:hover {
  color: #ff0000;
}

.editButton:hover {
  color: #d02fc2;
}

.submitEdit:hover{
  color: #0400ff;
}

/*https://www.w3schools.com/howto/howto_css_modals.asp*/
/* Vamos se sai um popup Form*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  margin: auto;
  padding-top: 5rem;
}

/* Modal Content/Box */
.modalContent {
  display: flex;
  border-radius: 16px;
  margin: auto;
  padding-top: 2rem;
  background-color: #dde2ed;
  text-align: center;
  padding: 1rem;
  padding-bottom: 2rem;
  min-width: 20%; /* Ajuda com telas de celular */
  width: 50%; /* Could be more or less, depending on screen size */
  flex-flow: column;
}

.close {
  color: #f36363;
  float: right;
  padding-left: 1rem;
}
.close:hover {
  color: #ff0000;

}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #7986cb;
}
